


html {
    font-family: Arial, Helvetica, sans-serif;
}


.setup-screens > .screen > .container {
    padding: 10px;
}


.topbar > .navlink {
    height: fit-content;
    margin: auto;
    margin-left: 15px;  
}


.setup-progress {
    display: flex;
    border: 1px solid gray;
    border-radius: 15px;
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(241, 241, 241) 50%, rgb(225, 225, 225) 51%, rgb(246, 246, 246) 100%);
}

.setup-progress > .step, .setup-progress > .arrow {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.setup-progress > .step:hover {
    background: linear-gradient(rgb(235, 241, 246) 0%, rgb(171, 211, 238) 50%, rgb(137, 195, 235) 51%, rgb(213, 235, 251) 100%);
    cursor: pointer;
}

.setup-progress > .step:first-child:hover {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.setup-progress > .step:last-child:hover {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}


.setup-progress > .arrow {
    width: 3% !important;
    max-height: 19px;
    font-size: 44px;
    line-height: 0.45;
    color: #cacaca;
}


.setup-prog-container {
    border-radius: 15px;
}



.nav-buttons > button {
    margin-right: 5px;
}



.rel-actions {
    width: 70%;
}


.rel-actions > form {
    margin: auto;
    height: 100%;
}

.rel-actions > form > button {
    position: relative;
    top: 35%;
    float: right;
    margin-right: 15px;
}


.dl-status > .top > .abort-dl {
    background-color: unset;
    border: 1px solid rgb(145, 0, 0);
    color: rgb(145, 0, 0);
    margin-left: 15px;
    border-radius: 5px;
}

.dl-status > .top > .abort-dl:hover {
    color: white;
    background-color: rgb(145, 0, 0);
}



.dl-status {
    margin: auto;
    padding: 15px;
    color: #5f5f5f;
    max-height: 75px;
}

.dl-status > .top > .status {
    font-size: 14px;
}

.dl-status > .top > .status-large {
    font-size: 16px;
    font-weight: bold;
}

.dl-status > .bottom > .prog {
    font-weight: bold;
    font-size: 12px;
}


.dl-status > .bottom {
    margin-top: 15px;
}



.dl-details {
    display: flex;
    background: #f5f5f5;
    border: 1px solid #aeaeae;
    box-shadow: 0px 3px 6px #0000002b;
}

.dl-details > .aside > img {
    height: 92px;
}

.dl-details > .text {
    display: grid;
    margin-left: 15px;
}

.dl-details > .text > ul {
    height: fit-content;
    margin-top: 5px;
}

.nav-buttons {
    margin-top: 20px;
}


.loading-dialog {
    display:flex;
}


.download-status {
    display: grid;
    margin-top: 15px;
    margin-bottom: 15px;
}

.download-status > .status {
    font-weight: bold;
}



.search-dl-btn {
    display: block;
    float: right;
    height: 100%;
}



.nobg {
    background: unset !important;
}


.white-noline {
    color: white;
    text-decoration: none;
}

.noline {
    text-decoration: none;
}


.frontpage-search, .center-dialog {
    margin: 10% auto;
    margin-bottom: unset;
    padding: 15px;
    width: fit-content;
    height: fit-content;
}



.setup-page {
    background: linear-gradient(#fff,#f9f9f9);
}


.center-dialog {
    max-width: 50%;
    background: linear-gradient(#fff,#f9f9f9);
    border: 1px solid #b3b3b3;
}


.label > td {
    padding: 5px;
}


.labels {
    border-collapse: collapse;
}

tbody > .label > td > span > a {
    text-decoration: none;
}


.results-header {
    display: flex;
    background: #f9f9f9;
    border: 1px solid gainsboro;
}


.arrow-rt-submit {
    background-image: url('img/ico/arrow-rt.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 8px;
    border: unset;
    position: relative;
    bottom: 5px;
    background-color: unset;
}

.label-details {
    display: flex;
    margin-top: 5px;
}
.label-details > main {
    height: fit-content;
    padding-top: 5px;  
}
.label-details > aside {
    margin-right: 10px;
}


.frontpage-genres {
    margin: auto;
    margin-top: 25px;
    border: 1px solid #494949;
    padding: 5px;
    box-shadow: 4px 4px #cacaca;
}


tbody > .label:nth-child(2n) {
    background-color: #fafafa;
}



.frontpage-genres > tbody > tr > td > ul > li > .mini {
    font-size: 12px;
}
.frontpage-genres > tbody > tr > td > ul > li > a {
    color: black;
}


.title-results {
    color: #424242;
    display: block;
    margin: 10px;
}


.genre-title {
    margin-top: 10px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #424242;
}


.size8 {
    font-size: 8px;
}


.btn3 {
  background: linear-gradient(#757575,#2d2d2d);
  border: unset;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px black;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid #444;
}


.btn2 {
    border: unset;
    color: white;
    padding: 5px;
    font-weight: bold;
    background: #8cbd1a;
    text-shadow: 1px 1px rgb(30, 53, 8);
    border-radius: 5px;
    box-shadow: 1px 1px black;
}


.btn1 {
    border: unset;
    color: white;
    padding: 5px;
    font-weight: bold;
    background: #494949;
    text-shadow: 1px 1px black;
    border-radius: 5px;
    box-shadow: 1px 1px black;
  
}


.btn4 {
    border: unset;
    color: white;
    padding: 5px;
    font-weight: bold;
    background: #bd1a1a;
    text-shadow: 1px 1px black;
    border-radius: 5px;
    box-shadow: 1px 1px black;
  
}



li {
    list-style: none;
}


.error::before {
    content: url('img/ico/err.png');
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.error {
    color: rgb(145, 0, 0);
}


.rel-quality {
    font-size: 10px;
    margin-top: 25px;
    display: block;
}


#explicit {
    position: relative;
    top: 1px;
    left: 5px;  
}


a {
    color: black;
}


.tracklist {
    border-collapse: collapse;
    width: 100%;
}

.tracklist > tbody > tr:nth-child(1) {
    background-color: #2d2d2d;
    text-shadow: 1px 1px black;
    color: white;
}

.tracklist > tbody > tr > td {
    border: 1px solid gainsboro;
    padding: 5px;
    font-size: 14px;
}

.tracklist > tbody > tr:nth-child(2n+0) {
    background-color: #f7f7f7;
}


.enlarge-cover {
    text-align: center;
}
.enlarge-cover > a {
    color: #2749b8;
    text-decoration: none;
}
.enlarge-cover::before {
    content: url('img/ico/enlarge.png');
}


.size12 {
    font-size: 12px;
}


.hires {
    float: left;
    margin-right: 5px;
}


.rel-channel {
    font-size: 10px;
}


.release {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #f0f0f0;
    background: linear-gradient(#f9f9f9,white);
}

.release2 {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #f0f0f0;
    background: linear-gradient(#f9f9f9,white);
}


.release > ul, .release2 > div > ul {
    margin-left: 10px !important;
}


ul {
    margin: unset;
    padding: unset;
}



.prog-bar, .prog-bar > .bar {
    border-radius: 5px;
}


.prog-bar {
    height: 7px;
    border: 1px solid;
    width: 100%;
    margin: auto;
}

.prog-bar > .bar {
    background: linear-gradient(#adee4f,#79bd17);
    height: 100%;
    width: 0%;
}



.artist-name {
    color: #3b3b3b;
    font-size: 12px;
}

.album-title {
    font-weight: bold;
    font-size: 12px;
    text-decoration: underline;
}


.album-cover {
    float: left;
    max-height: 100px;
    box-shadow: 2px 2px #7d7d7d;
}


.topbar {
    padding: 5px;
    max-width: 1024px;
    height: fit-content;
    margin: auto;
    background: linear-gradient(180deg, #fff,#e6e6e6);
    border: 1px solid gainsboro;
    border-bottom: unset;
}

.title1 {
    padding: 5px;
    margin-top: 15px;
    color: white;
    background: #3a3a3a;
}
.title1 > span {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}


.page {
    max-width: 1024px;
    margin: auto;
    border: 1px solid #c6c6c6;
    padding: 5px;
}

.genre-banners {
    margin: auto;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
}
.genre-banners > tbody {
    display: flex;
}
.genre-banners > tbody > tr > td > a > img {
    max-height: 100px;
}


.topbar > div {
    display: flex;
    width: fit-content;
    margin: auto;
}
.topbar > div > form {
    height: fit-content;
    margin: auto;
}

.topbar > div > a > img {
    margin-right: 15px;
}


.logo {
    margin-bottom: 5px;
}


form {
    margin: unset;
}